[2021-12-10 01:18] ischoegl commented on #107
This is implemented by Cantera/cantera#1141

[2021-12-10 01:18] #107 closed, assigned to nobody

[2021-12-10 15:18] bryanwweber commented on #122
@corykinney Nope, this is a great place for this issue. I'd be happy to have a Zoom/Webex/etc. to help you get started on the contribution, if it'd be helpful. Feel free to reach out to the email in my profile!

[2021-12-10 15:19] bryanwweber commented on #122
Also ping @gkogekar @decaluwe for their thoughts on the thermo.

[2021-12-10 18:29] decaluwe commented on #122
thanks, @bryanwweber  - I had noticed this, yesterday.  This would definitely be a great extension of that model.  I'll try and remember to give it a look once I've finished grading for the semester and recovered that portion of my brain.  @corykinney please feel free to bug me if I forget, if you want feedback (but I also trust you to proceed, without any input from me).

[2021-12-10 21:58] corykinney commented on #122
@bryanwweber I will definitely be reaching out to you and asking some questions, I appreciate the offer!

@decaluwe I'll go ahead and start trying to implement it next week. I'll likely proceed fairly slowly as I figure out the C++ side of things, but I would definitely appreciate if you had time to double check the equations sometime along the way!

[2021-12-14 03:26] ischoegl commented on #52
@tsikes ... I believe with Cantera/cantera#1031 and Cantera/cantera#1129 all YAML data are now accessible from within Cantera, so I believe everything should be ready for adding `yaml2ck` to Cantera at this point.

[2021-12-14 03:28] ischoegl commented on #56
Probably no longer necessary.

[2021-12-14 03:28] #56 closed

[2021-12-14 17:50] tsikes commented on #52
@ischoegl That's great. I'll take a look at it.

[2021-12-15 03:22] #10 closed

[2021-12-15 17:28] corykinney commented on #122
Starting to work on it at [`corykinney:Peng-Robinson`](https://github.com/corykinney/cantera/tree/Peng-Robinson)

[2021-12-18 02:26] yurivict opened #123 "Please make build scripts compatible with Octave"
It seems to build with Octave. The incompatibility seems to be only in the build scripts.

The options ```octave_toolbox```, ```octave_include_path```, ```octave_library_path```  should probably be added.

[2021-12-18 14:17] ischoegl commented on #123
@yurivict ... thank you for the suggestion. I think this should be filed as a new issue/feature request on [Cantera/enhancements](https://github.com/Cantera/enhancements/issues/new/choose), where some additional context should be provided as indicated. Also, if you already have something working, a PR on Cantera/cantera would be welcome!

[2021-12-18 14:34] bryanwweber commented on #123
Thanks @ischoegl I transferred it from the website repository over here to enhancements :smiley:

[2021-12-18 14:42] ischoegl commented on #123
FWIW, I believe building with octave would be interesting from a unit testing perspective. As there are ongoing efforts for overhauling the MATLAB interface (see #32) the timing question here is an interesting one.

[2021-12-19 19:04] speth commented on #123
I just did a quick test on Ubuntu 20.04, and this seems like it's not that bad, at least under certain circumstances. The changes I made were:
- edit `SConstruct` to delete the check for `mex.h` relative to the `matlab_path`
- Edit `src/matlab/SConscript` and change the list of libraries that are linked to to specify `octave` instead of `mx`, `mex`, and `mat`
- Set `mexSuffix` to just `mex`

This

[2021-12-19 20:17] bryanwweber commented on #123
A quick search turned up a packaging standard for Octave: https://github.com/gnu-octave/pkg#creating-packages They list that the license of the compiled package code must be GPL-compatible. I suppose it would be possible to write a (L?)GPL-licensed intermediary interface that links to Cantera's clib. That should resolve the licensing issue, if I understand correctly, at the consequence of another

[2021-12-19 20:23] yurivict commented on #123
One way to solve this is is to delegate the decision to users. Make headers/libraries overridable by users, since only headers and libraries are different. When the user would choose to build Cantera with Octave for personal use - this would be purely user's responsibility and would likely not violate any licensing terms.

[2021-12-19 20:32] yurivict commented on #123
The ```liboctinterp.so``` library exports these symbols. You should probably add it.

[2021-12-19 20:33] ischoegl commented on #123
Thanks @speth for testing, that is very interesting. While it should be possible to resolve the licensing issue by not explicitly packaging things together, I believe the other issue that was mentioned may render this moot:

while I’m not sure that #32 will be ready for the 2.6 release, any discussion should probably assume that the old interface is going away hopefully sooner than later. Whether

[2021-12-19 20:49] bryanwweber commented on #123
@ischoegl Well, we could rename the existing interface to an Octave interface and continue maintaining it. I'm not familiar with the OOP structures in Octave, so I'm not aware if they have a "new" or "old" style the way Matlab does. Also, this is not a very highly requested feature, so to the extent that it takes up maintainer work cycles, it may not be worth the effort. Indeed, this request came

[2021-12-19 21:00] ischoegl commented on #123
My personal take on this is that we should plan for a clean cut (I’m not sure how far along #32 is, but *ideally* 3.0 should only have the new MATLAB interface).

[2021-12-19 21:34] bryanwweber commented on #123
Sure, a clean cut for the MATLAB interface. But if the existing code is separately useful as an Octave interface, and there isn't a way to use the new MATLAB interface in Octave, and there isn't a more idiomatic Octave-specific way of creating the package, I think it _could_ make sense to keep it around.

[2021-12-20 02:53] speth commented on #123
I would strongly oppose maintaining two separate interfaces for Matlab and Octave. Matlab is already one of the less-used Cantera interfaces, and inquiries about Octave support have been few and far between. The only way I see that an Octave interface being viable is if it is more or less identical to the Matlab interface.

It looks like Octave has some support for `classdef`-style classes, althou

[2021-12-20 08:09] mefuller opened #124 "Check compatibility and add support for Sundials 6.0.0"
**Abstract**

Sundials 6.0.0 is out and with some serious-looking revisions:
https://github.com/LLNL/sundials/blob/master/CHANGELOG.md

**Motivation**
Sundials is a dependency and the latest version will need to be supported eventually

[2021-12-20 08:14] mefuller commented on #123
I'll just chime in to say that this is something that interests me, but that I also appreciate that it is of limited utility to end users and that I doubt I can contribute much technically. I would, however, be happy to try helping on development and testing, especially if anyone can help give a few pointers as questions arise.

[2021-12-27 17:52] g3bk47 opened #125 "Make Cantera compatible with -ffast-math"
**Abstract**

After the recent discussion about compiling Cantera with `-ffast-math` (which is basically the default for the Intel compilers), I set up a benchmark suite to test the accuracy and computational performance of Cantera when using different optimization flags and compilers. The relevant discussions can be found here:
https://github.com/Cantera/cantera/issues/1155
https://github.com/Can

[2021-12-31 20:49] tpg2114 opened #126 "Enable calling of pre-compiled kinetics in CKWYP format"
**Abstract**

Reduced kinetics (those composed of non-elementary reactions, quasi-steady-state assumptions, and/or algebraic relationships) are often distributed in a common format originating from Chemkin, the CKWYP format, and are generally in the form of a set of Fortran or C routines. The resulting kinetics are useful in many practical simulations, both standalone and when coupled to a reactin

[2021-12-31 23:28] ischoegl commented on #126
Thank you @tpg2114 for the enhancement request! I believe having the ability to use skeletal mechanisms would be an interesting addition. Some of the recent work on the way Cantera evaluates reaction rates as well as a new methodology to make extensible classes should (hopefully?) simplify these efforts. I am also linking Cantera/cantera#437 here as there have been previous attempts to support QSS

[2022-01-01 19:14] speth commented on #126
I had been thinking that [Boost.DLL](https://www.boost.org/doc/libs/1_78_0/doc/html/boost_dll.html) would be useful for enabling this in a cross-platform manner, along with some similar capabilities related to #79.

[2022-01-01 20:37] tpg2114 commented on #126
I forget about cross-platform needs sometimes!

Given the extent of other changes, perhaps the implementation from v1.8 won't be as useful a template as it once was. I did port it forward a few years back to v2.1 I think but that got lost somewhere -- it was essentially drop-in at that time, but maybe that isn't the case now.

Anyway -- if somebody is interested in that v1.8 implementation (and it

[2022-01-01 21:57] bryanwweber commented on #126
@tpg2114 thanks for the offer to post the code! I wonder if you have to post it in a private repo, what's the license on that code? Would it be compatible with our modified BSD license?

[2022-01-01 22:21] tpg2114 commented on #126
@bryanwweber It is compatible -- I'd prefer to post it privately because if I personally distribute something publicly, it must go through a lengthy review process due to the nature of my employment. If I can control who has access to the original material, then the review process is not needed.

I'd be happy to explain more privately (email, or in person if you happen to be headed to SciTech).

[2022-01-01 22:27] bryanwweber commented on #126
Thanks @tpg2114. That's actually exactly my concern - the code needs to be reviewed by lawyers before public distribution, and according to the lawyers, reimplementing the code while looking at it might count as distribution. That happens, for example, with the GPL, where reimplementing code while looking at it is considered a derivative work, so the new code must also have the GPL license if it i

[2022-01-03 18:13] BangShiuh opened #127 "Plasma phase"
For a typical electron collision process in plasma,
ex.
e + N2 -> e + N2*

the energy is provided by the electron instead of gas. The electron temperature is different from gas due to low momentum transfer efficiency between electron and molecule. Therefore, a gas heating term is required for such reactions. The value is usually the enthalpy difference of N2* and N2 or the threshold energy (eV). U

[2022-01-05 23:15] ischoegl commented on #125
Hi @g3bk47 ... thanks again for setting up these tests. Could you clarify your comments on of the convergence issues that you observed?

@speth commented with separate testing in Cantera/cantera#1155 (for ignition delay) that ...

Is this consistent with your conclusions?

[2022-01-06 14:45] g3bk47 commented on #125
Hi,
in my work, I am using Cantera to calculate reaction rates and mixture-averaged diffusion properties, which does not include any type of iteration. So I would fully profit from the ~15% performance increase with gcc.

In my tests, there was only one case where more aggressive optimization settings affected performance negatively, i.e.1D flame with very tight tolerances (while the 1D flame with

[2022-01-06 15:22] ischoegl commented on #125
Thanks, @g3bk47! ... for my own part, I am planning to revise some of the instances where I recently introduced `NaN`'s as sentinel values. Speedups of 15% are very intriguing, despite the troubling slowdowns observed in other instances. One thing that I can say about convergence is that even without `fastmath`, the solvers sometimes produced quirky failures for me that usually took 'playing' with

[2022-01-06 17:30] #124 closed, assigned to nobody

[2022-01-08 17:00] ischoegl commented on #127
Linking #105 and Cantera/cantera#700.

[2022-01-09 21:43] speth commented on #125
Thanks for the extensive set of tests, @g3bk47. I tried replicating some of these results using your `reactionRates.cpp` test on some of my machines, and interestingly, the results are substantially different. I didn't run quite as many cases, but here's the results for what I did:

| compiler | optimization flags | median runtime (s) | std. deviation (s) |
| - | - | - | - |
| GCC 9.3 | `-O3` | 16

[2022-01-09 23:41] g3bk47 commented on #125
Thanks for the interesting results, @speth. I agree that the difference between `fastmath `and `fastmath+nofinitmath` is generally small, but at least I had one case where the difference was 10%.
As far as I know, even if the Intel compilers are not told what the target CPU is, they can generate different code paths for different CPU types. Maybe this plays a role here. The only way to find out wo

[2022-01-10 20:04] speth commented on #125
Yes, you're correct that the Intel compiler (and maybe others) can generate multiple code paths and select different ones at run time based on the specific processor. The most infamous use of this has been to use less-optimal code paths when running on AMD processors. In this case, that behavior may be why there's so little impact of telling it to emit code for your specific processor rather than

[2022-01-11 01:49] bryanwweber opened #128 "Use features from Pytest and remove Unittest"
**Abstract**

Pytest has a bunch of nice features that have potential to make the Python test code shorter, easier to read, and potentially faster. Recent work has made it possible to use Pytest with the existing unittest-based suite, but I'm interested in exploring what we can get if we drop unittest altogether.

**Motivation**

Hoping to improve the test suite. Wanting to use Pytest features lik

[2022-01-11 16:17] g3bk47 commented on #125
The libc on all clusters I have access to is actually older than yours (version 2.28). Another wild guess why our results differ might be because your CPU clocks down when it get too hot so that there is some kind of lower bound for performance?

I mentioned Eigen because it appears here https://github.com/Cantera/cantera/blob/main/include/cantera/kinetics/StoichManager.h#L617-L618. But I am not e

[2022-01-11 19:00] speth commented on #125
Ah, those profiling results are very interesting.  I'm confused as to what's happening on my system -- when compiling with GCC and `-O3 -ffast-math`, I still see the calls to `__GI___exp` wrapping the calls to `__ieee754_exp_fma`, which would pretty easily explain why I'm not seeing any performance improvement, but I don't understand why it's not skipping this, if that is indeed an error handling

[2022-01-14 04:31] ischoegl commented on #128
Hi @bryanwweber ... thanks for posting! I am overall very much in favor of migrating to `pytest`, as it is imho a better/more flexible testing environment compared to `unittest`.

One thing I noticed is that in your code sample you went away from using classes to group tests (a feature that I believe is powerful). While I don't have extensive experience with fixtures, one thing I have used before

[2022-01-14 07:04] bryanwweber commented on #128
Thanks for the comments @ischoegl! I wonder about this suggestion, and I hope you can elaborate if I give a little more context... It was a deliberate choice to move to module-level functions, unless the class provided some useful grouping features, like with the common comparison data. Since pytest doesn't require the class based structure, what advantages do you see of keeping it in this code?

[2022-01-14 15:54] ischoegl commented on #128
@bryanwweber ... I was indeed wondering about the rationale, so this being intentional makes sense. As an aside, I eventually did notice that you used a class structure at the very end of your test anyways!

The main advantage I see in having classes is that it allows for grouping of tests that probe a specific topic (it is imho much easier to figure out what is being done). Also, if you look at s

[2022-01-14 17:41] ischoegl commented on #19
Closed via Cantera/cantera#1089.

[2022-01-14 17:41] #19 closed

[2022-01-14 18:07] speth commented on #128
I'd say overall, I think making PyTest a dependency and relying on some of its features is fine. I can see some benefit to using PyTest's "clever" introspection of standard `assert` statements and shifting away from both the `assertSomething` methods as well as the custom ones introduced in `CanteraTest`.

I'm less convinced that there's a lot to be gained by a wholesale rewrite of the existing te

[2022-01-14 18:30] bryanwweber commented on #128
Yeah, I definitely agree with this sentiment. I think there are some details about how and when the function/method is executed that can make a difference in some cases (perhaps more likely with tear-down methods), I can look into it some more!

[2022-01-14 18:39] ischoegl commented on #128
fwiw, I think that `pytest.fixture`s are quite useful for repetitive tasks (e.g. loading and setting up `Solution` objects, potentially in `conftest.py`), but they are hard to customize. Once you customize, `unittest.TestCase.setUp` shines ... as `pytest` and `unittest` are compatible, mix-and-match may be the best of both worlds?

My take on this would be to go ahead and require `pytest` for 2.6,

[2022-01-14 19:36] bryanwweber commented on #128
@ischoegl I'm curious again about this statement 😊 this has been the opposite of my experience. Since _any_ function or class can be a fixture, I find them much easier to customize. You're not restricted to OOP inheritance paradigm like with `unittest`.

[2022-01-14 20:30] speth commented on #128
What does this mean? Just dropping support for `unittest` as the test runner, given all the existing tests are built on `unittest.TestCase`?

[2022-01-14 20:30] ischoegl commented on #128
I figure that this is not strictly true, as `pytest` customization options are limitless :joy:.

I guess it would be more accurate to say that `unittest` makes it easy to leverage OOP. I personally find OOP easy and straight-forward to understand, plus it automatically leads to some organization of code. On the `pytest` side, applying fixtures to individual test functions can make things quite har

[2022-01-14 20:41] ischoegl commented on #128
Correct. Just remove the option for `pytest = None` here
https://github.com/Cantera/cantera/blob/ec85c244347490cd52d534d79c8234d6a1c75ce2/test/python/runCythonTests.py#L29-L32
and anything below line 106.

[2022-01-14 21:17] ischoegl commented on #128
@speth and @bryanwweber

See Cantera/cantera#1167. With this proposed update, any `pytest` feature would become usable. This doesn't really address the main gist of this issue as raised though, as `unittest.TestCase` remains untouched ...

[2022-01-14 21:20] bryanwweber commented on #128
One potential concrete improvement by avoiding `unittest`-style inheritance is the ability to run tests in parallel. According to the [Python docs](https://docs.python.org/3/library/unittest.html#class-and-module-fixtures), `setUpClass` and `tearDownClass` are called every time the test runner encounters a new class (I'm not sure if subclasses count?). This means that if tests are run in parallel,

[2022-01-14 21:23] ischoegl commented on #128
@bryanwweber ... yes, I do recall something about improved efficiency for `pytest`. Regardless, Cantera/cantera#1167 should be a (small) step in this direction. As @speth mentioned, porting 13000+ lines is a tough proposition, even if we lose part of that once XML/CTI is removed. But `pytest` would be interesting for new features like #114 (as long as the test suite is run from Python of course :j

[2022-01-14 21:26] bryanwweber commented on #128
@ischoegl Sure, there are libraries like `hypothesis` that can do that kind of property-based testing from Python. Pytest can also run Google C++ tests via https://github.com/pytest-dev/pytest-cpp although it doesn't _compile_ the tests.

[2022-01-17 00:13] ischoegl opened #129 "Make Cantera examples a submodule / consolidate with Jupyter"
**Abstract**

At the moment, Python examples are installed deep in the 'guts' of cantera, and thus are relatively hard to find. When installing from source, the installation location is also not consistent with other languages, see #51.

Beyond, there already is a separate [Cantera/cantera-jupyter](https://github.com/Cantera/cantera-jupyter) repository (as well as examples from workshops). These e

[2022-01-17 00:59] bryanwweber commented on #129
Thanks for the suggestion @ischoegl! I agree that the current location of the Python examples is probably suboptimal for anyone wanting to learn Cantera from those examples.

However, I think moving the examples to a separate repo would be even worse from a developer ergonomics perspective, especially for new contributors trying to figure out where files are located.

I actually wonder whether it

[2022-01-17 01:02] bryanwweber commented on #129
Fwiw, the commit of mine that @speth included in https://github.com/Cantera/cantera-jupyter/pull/33 was the start of me trying to set up CI for that repo. It is pretty easy to trigger CI for another repo, see my workflows branch on Cantera/Cantera (sorry, on my phone, so a link is hard).

[2022-01-17 01:41] ischoegl commented on #129
I tend to agree. I originally thought of proposing a separate package (for `pip` or `conda`), but realized that moving things to a stand-alone repo makes a lot more sense. Whether or not this is included as a submodule is secondary, especially as examples cannot be run from scons. The important thing is that they need to be covered by CI, and if this can be triggered from the main repo without mak

[2022-01-17 04:27] bryanwweber commented on #129
Fair enough in terms of finding the files. However, updating the examples would then require two pull requests, one to actually change the example and another to update the submodule commit in Cantera/cantera. I would not like that workflow, personally. Plus it would double the work for maintainers 🤪

I think the main point you're making is that the examples should be run by CI, right? Why can't t

[2022-01-17 16:50] ischoegl commented on #129
Yes, this is my point.

I believe this is similar to what is already necessary for any substantial code change that affects Cantera/cantera-website. In most instances, I believe that examples are an 'afterthought', regardless of them being extremely important. I guess the sample repo would require its own CI, which can be done. But it would still have to be triggered whenever Cantera/cantera is ch

[2022-01-17 17:44] speth commented on #129
I think the following are good goals to work toward:
- Make it easier to find the examples, for all user interfaces
- Make sure that all examples are covered by CI testing

However, I strongly disagree that any examples should be moved out of the main repository. The examples should be continuously updated to keep pace with the `main` branch, and the easiest way to do that is if they can be update

[2022-01-17 17:56] ischoegl commented on #129
I have used `nbsphinx` with good success elsewhere to create rendered notebooks, while saving notebooks themselves with none of the cells executed. This keeps the diffs small.

*PS: adding the jupyter notebooks directly to the website would be imho a nice feature.*

[2022-01-17 17:59] ischoegl commented on #129
Fair enough.

:+1:

This would address #51 (which means that I'd still strongly be in favor).

[2022-01-17 18:03] bryanwweber commented on #129
@speth I actually think this would be better going the other way, waiting for the Conda packages to be built on each push to `main` and then installing the package and running the Jupyter notebooks via a CI job in `Cantera/cantera-jupyter`. But the goal is the same 😄

@ischoegl This was also my concern with having a submodule that's regularly updated in the main Cantera/cantera. Even with your exa

[2022-01-17 18:06] ischoegl commented on #129
I figure there's is disagreement all over the place :joy:. I rest my case about submodules.

Fwiw, the issue remains that Python examples are well hidden. For jupyter, I believe using `nbsphinx` to render them on the website, while moving non-executed notebooks to the main repo would be a potential improvement (which means that the Cantera/cantera-jupyter repo could be phased out).

[2022-01-17 18:20] speth commented on #129
I'm not going to pretend to understand what kind of behavior can be triggered by a push to `Cantera/cantera`, but if this workflow is possible, then sure. I guess the effect of what you're suggesting is that this would only run when a PR is merged, not on every update to every open PR? I think that makes sense, but I'm curious where the information that the the CI job to test the Jupyter examples

[2022-01-17 18:46] ischoegl commented on #129
whoops. didn't recall that! But the point is that `nbsphinx` will generate output from non-executed notebooks, which play 'nice' with git.

[2022-01-18 02:53] speth commented on #129
I see -- being able to keep the `cantera-jupyter` repository as just being non-executed notebooks would probably be beneficial in terms of keeping the source modifications more trackable. But I still wouldn't want to put them in the main repository. My experience is that it's still very easy to get lots of spurious changes, even from just using different versions of Jupyter to edit the notebooks.

[2022-01-18 03:08] bryanwweber commented on #129
This is only true if `nbsphinx` is allowed to execute the notebooks, which means that the execution environment must contain all the dependencies of the notebooks. Although this wouldn't be _too_ difficult with conda, it would substantially increase the time it takes to run builds of the website.

There are also services that enable nicer diffing of Notebooks in the GitHub interface, for example:

[2022-01-18 03:45] ischoegl commented on #129
Setup isn't too bad, and I don't think the build time is a game stopper.

I've actually done this with `ctwrap`, see [microcombustion/ctwrap](https://github.com/microcombustion/ctwrap). Got all excited about using that in one of my classes last year, which was promptly canceled. As I result, I still haven't updated to Cantera 2.51 :cry:

[2022-01-19 00:34] ischoegl commented on #103
Re-opening as a reminder to update the corresponding YAML tutorial on [Cantera/cantera-website](https://cantera.org/tutorials/yaml/defining-phases.html).

[2022-01-19 01:48] ischoegl commented on #129
@speth and @bryanwweber: thanks for your input here! I believe that the outcome of the discussion is already covered by #51 - closing.

[2022-01-19 01:48] #129 closed, assigned to nobody

[2022-01-19 02:09] ischoegl commented on #51
While I just closed Cantera/enhancements#129, I realized that one way that may cover concerns there is to leave examples in the main repo, but clone the examples folder to a dedicated repo after each merge. There are GH actions for this, e.g. [this one](https://github.com/marketplace/actions/push-directory-to-another-repository)

[2022-01-19 17:04] decaluwe commented on #129
Just weighing in to agree with @speth here.  Different users will have different preferences, but I personally don't want to hop around a website.  Just give me a file folder and let me explore its contents. :)

[2022-01-23 17:45] ischoegl commented on #76
While this works on windows (which installs to non-write-protected folders by default), the same is not true for Linux.

[2022-01-23 17:49] bryanwweber commented on #76
@ischoegl Sorry, I don't get you... this enhancement would set `prefix=$CONDA_PREFIX` under the conditions listed in the original post, which should resolve the need to use `sudo`.

[2022-01-23 17:51] ischoegl commented on #76
Yes, correct. I meant to say that what I stated in my earlier windows-related post is moot.

[2022-01-26 18:03] BangShiuh opened #130 "Partially Stirred Reactor"
**Abstract**

In a lot of cases, a perfect stir reactor is not suitable to model the partial mix of gas. Partially stirred reactor (PaSR) is a practical solution to this with low computational cost.

**Motivation**

Describe the need for the proposed change:

* What problem is it trying to solve? To model a realistic reactor.
* Who is affected by the change? This feature will likely involve change

[2022-01-27 19:47] ischoegl opened #131 "Optionally disable legacy reactions in Cantera 2.6"
**Abstract**

At the moment, there already is a preprocessor flag `CT_NO_LEGACY_REACTIONS_26` introduced in `Reaction.h`, although it remains untested (at the moment, I am aware of at least one instance where toggling this flag will result in compilation errors). In order to ensure that the new framework introduced in #87 works without legacy support, the use of this preprocessor flag (or an addit

[2022-01-28 00:48] speth opened #132 "Rethink handling of duplicate reactions"
**Abstract**

The current mechanism for handling "duplicate" reactions is mostly an attempt to replicate the corresponding syntax from the Chemkin format. However, I think there are some unwritten rules to this that we shouldn't necessarily try to replicate, and we have potentially better ways of handling reactions where the rate is a combination of different rates.

**Motivation**

Requiring reac

[2022-01-28 01:13] ischoegl commented on #132
Thanks for opening this issue, I think this is interesting. FWIW, I am also referencing Cantera/cantera#704 and Cantera/cantera#1019.

[2022-01-28 18:30] speth commented on #131
Generally, the method that we try to use to get this assurance, at least for the C++ core, is by having deprecated features call `warn_deprecated`, and by running the test suite with deprecation warnings treated as errors.

I think the current issue arises from the fact that there are a number of deprecated reaction types that don't raise such warnings and we don't necessarily want them to, at lea

[2022-01-28 19:33] ischoegl commented on #131
This is not how I understood the precompiler flag `CT_NO_LEGACY_REACTION_26` (see `Reaction.h` and `RxnRates.h`). I believe the intent here was to ensure that external code would not break, while providing an opportunity to 'force' the new behavior. At the moment, setting this flag immediately generates compiler errors (which I am currently fixing in Cantera/cantera#1184).

As my limited tests are

[2022-01-31 14:43] ischoegl opened #133 "Rethink handling of 3rd body colliders"
**Abstract**

At the moment, third body colliders are handled by `ThirdBodyCalc.h`, which is managed by `Reaction` objects. Specifically, there are two dedicated reaction specializations, - `ThreeBodyReaction` and `FalloffReaction` - that implement 3rd body colliders, whereas this feature is unused by others.

Cantera/cantera#1183 removes several `Reaction` specializations as the new framework int

[2022-02-01 01:10] bryanwweber opened #134 "Deprecate/Remove Cygwin support"
**Abstract**

Cygwin support is untested and Cygwin has uncertain usage for Cantera. With the advent of (potentially) better replacements such as the Windows Subsystem for Linux v2 (WSL2), Cygwin support may not be necessary any more.

**Motivation**

Cygwin support imposes a mild burden on maintainers, with several untested code paths in various `SCons*` files. Retaining these support features wi

[2022-02-01 01:34] ischoegl commented on #134
I'm supporting (2) also, although a laconic statement similar to this one may suffice: https://github.com/Cantera/cantera/blob/9cee0525d26b6030cc30c469c9c75332d836eb8e/SConstruct#L86-L88 (e.g. replace 'unrecognized' by 'not supported')

... if necessary (which I do not think it is), I would strongly advocate moving to WSL instead, where a [GH Action](https://github.com/marketplace/actions/setup-ws

[2022-02-01 02:05] bryanwweber commented on #134
@ischoegl Do you think we need to test WSL support? It should be a standard Linux distribution, so equivalent to our other Linux test cases, right?

[2022-02-01 02:17] ischoegl commented on #134
@bryanwweber ... agreed (*I guess this means a no*). I would suspect that it 'just works', but never had a reason to try. I believe cygwin was more relevant when compiler options were less abundant on Windows, but this is probably a thing of the past.

[2022-02-01 03:02] bryanwweber commented on #134
Yes, I used Cygwin once upon a time... Probably back in the WinXP days before I "upgraded" to Vista and then truly upgraded to Win7 😄

[2022-02-01 03:11] tsikes commented on #52
@ischoegl I've updated [yaml2ck](https://github.com/tsikes/cantera/blob/main/interfaces/cython/cantera/yaml2ck.py) to use [Cantera/cantera#1031](https://github.com/Cantera/cantera/pull/1031) and [Cantera/cantera#1129](Cantera/cantera#1129). I've done a few tests with a mock mechanism to go from CK to YAML and back.

Few notes:
1. Transport data is untested
2. NASA9 is not included, as discussed pr

[2022-02-01 03:30] ischoegl commented on #52
@tsikes That’s great to hear! Per prior discussion, it would be great if you were willing to add the converter to Cantera. So I hope to see a PR soon!

[2022-02-05 14:42] ischoegl commented on #76
Based on (off-topic) discussion in Cantera/cantera#1158 ... I'm planning to tackle this once that PR is merged.

[2022-02-05 23:38] bryanwweber commented on #76
@ischoegl I _think_ this should mostly be orthogonal to that effort, so it can perhaps be tackled in parallel?

[2022-02-06 18:49] #131 closed, assigned to nobody

[2022-02-07 15:29] bryanwweber opened #135 "Deprecate and remove `setup_cantera` scripts"
**Abstract**

Deprecate and remove the two `setup_cantera` and `setup_cantera.csh` scripts. Deprecation to occur in v2.6, removal thereafter.

**Motivation**

I don't think anyone uses these scripts. They pose a minor maintenance burden on `SConstruct` and they possibly encourage old-school practices such as exporting `PYTHONPATH` to the environment.

**Possible Solutions**

1. Deprecate both scri

[2022-02-10 02:09] #103 closed, assigned to nobody

[2022-02-14 16:43] ischoegl opened #136 "Channel C++ warnings to Python's warning system"
While exceptions raised in the C++ core are already captured and thrown by the Python API, the same is not true for the warning system. I had originally added this as a discussion topic, but it may be more appropriate to discuss this as an issue (feature request).

### Discussed in https://github.com/Cantera/enhancements/discussions/112

<div type='discussions-op-text'>

<sup>Originally posted by

[2022-02-15 01:33] #76 closed

[2022-02-16 14:36] speth commented on #38
As a concrete example, some of this has been implemented in a branch (https://github.com/CSM-Offenburg/cantera/blob/a91ed333a0f6448f0ab99fa76c9be0f1368ce03a/src/kinetics/InterfaceKinetics.cpp#L349-L389). The following is a part of `InterfaceKinetics::updateROP()`:
[code]

[2022-02-16 15:45] ischoegl commented on #123
Now that Cantera/cantera#1182 (which addresses #32) is officially ready for review, I wanted to follow up here as Octave may still be a viable option to cover the MATLAB toolbox with a routine CI job (fwiw, I'd only consider it for the *new* toolbox). Tagging @ssun30 and @rwest ...

[2022-02-16 17:28] speth commented on #123
As was mentioned before, the toolbox implemented in https://github.com/Cantera/cantera/pull/1182 is completely incompatible with Octave, due to its use of `calllib` as the mechanism for calling Cantera's C++ functions. The only way to support Octave would be to stick with the `mex`-based interface.

[2022-02-16 17:54] ischoegl commented on #123
@speth ... thanks for triggering my memory! It's been a while and I did not recall this critical detail - my recollection was that it wouldn't be a complete roadblock, but I was apparently mistaken. Based on your assessment, my comment can certainly be ignored :smile:

As support for the old toolbox will likely be dropped in the foreseeable future, there essentially does not appear to be a path to

[2022-02-16 19:05] bryanwweber commented on #123
Agreed, with the nuance that if a community member is willing to step up as a maintainer of this interface, I would consider it. But that person should be willing and able to support the interface in the long term, not just get it working and disappear 😄

[2022-02-17 12:03] ischoegl commented on #123
@bryanwweber … agreed. For documentation, here’s an octave bug report for [loadlibrary](https://savannah.gnu.org/bugs/?56176): there apparently has been discussion on this off and on, but I do not sense an urgency for a resolution. Fwiw, there appears to be a [MATLAB runner](https://github.com/matlab-actions/overview) on GH, which will eliminate the need for alternative CI options.

Closing.

[2022-02-17 12:03] #123 closed, assigned to nobody

[2022-02-18 06:14] ischoegl commented on #136
@speth ... while I know how C++ outputs logging messages (fairly apparent in `src/base/application.h`) and have a hunch for how information flows (re-routed to `wrappers.h` and - I believe - captured with `_logger` in `utils.pyx`?), I'm not sure that I am following how those are actually caught and displayed in Python? It would be great if you could point me in the right direction.

[2022-02-18 17:59] speth commented on #136
Right, the lines
[code]
in `utils.pyx` create a new instance of `PythonLogger` (defined in `wrappers.h`) and assign that as the `logwriter` member of the global `Application` object. That `PythonLogger` object is then used for all calls to `writelog()`.

I think for this purpose, what you would want is an additional method for the `Logger` class that's used to handle calls to `warn_user` instead o

[2022-02-18 22:40] ischoegl commented on #136
:tada: Ha, that comment made all the difference! Thanks!! I guess the magic sauce in the current implementation is in `PySys_WriteStdout` and `PyRun_SimpleString`. This was hiding in plain sight! Exact same thing (i.e. `PyRun_SimpleString`) can be used for triggering warnings.

[2022-02-20 17:23] ischoegl commented on #23
I believe now would be the time to tackle this (the alternative is to not further pursue the issue): the `description` field should be relatively easy to parse.

[2022-02-20 18:05] bryanwweber commented on #23
@ischoegl If you're volunteering, go ahead 😄 😝 I do think this will still be valuable for a while; XML and CTI files will be "in the wild" for a _long_ time to come yet, so the converters are going to stick around for... well, probably forever!

[2022-02-20 18:09] ischoegl commented on #23
Still not volunteering, but let’s mark this as optional for 2.6 …

[2022-02-20 18:20] ischoegl commented on #122
@corykinney … are you planning to post a PR for this?

[2022-02-20 18:47] corykinney commented on #122
@ischoegl ... Yes, I plan on posting a PR eventually. It's just taken a back seat to some other things, so it might be a month or two before I get around to it.

[2022-02-21 15:23] ischoegl opened #137 "C++ Equivalent of SolutionArray"
**Abstract**

In Python, the `SolutionArray` class offers a convenient way of handling multiple states. Equivalent objects are not available for other API's, where in particular a means for efficient file I/O would be important. While there now is the ability to save to YAML as ASCII text (see Cantera/cantera#1112), this will create unnecessarily large files for large mechanisms.

### Discussed in

[2022-02-22 00:36] ischoegl commented on #23
@bryanwweber ... I ended up doing it anyways (at least for `cti2yaml`), see Cantera/cantera#1205. I don't think that it's necessary to implement this for `ctml2yaml` as I didn't find many instances where this is used. Imho, `cti2yaml` should already cover 95% of all use cases, and I don't want to over-engineer.

[2022-02-23 15:59] ste-lor opened #138 "Cantera for Ubuntu 22.04"
Is Cantera already available for Ubuntu 22.04 (Jammy Jellyfish)?
I tried to install it according to [Cantera installation](https://cantera.org/install/ubuntu-install.html) but get the error "the repository does not have a release file". Is there another way to install it in the meantime or do I just have to wait?

I only recently switch to Ubuntu, but used Cantera under Windows. Very nice tool by

[2022-02-23 16:19] ischoegl commented on #138
The Ubuntu 22.04 release date is scheduled on April 21, 2022. In the meantime, there are several other options to install: the recommended way would be [conda](https://cantera.org/install/index.html).

While there will be a release eventually regardless, I am moving this over to our feature request repository.

[2022-02-23 16:41] ste-lor commented on #138
Ok, thanks for the quick reply.

[2022-02-23 16:41] #138 closed, assigned to nobody

[2022-02-23 19:06] bryanwweber commented on #138
@ste-lor As those instructions state, the Ubuntu installer is available for:

So, no, not 22.04.

[2022-02-24 16:56] ischoegl opened #139 "Refactor Electrochemical Reactions"
**Abstract**

While Cantera/cantera#1181 creates the core infrastructure for the revised `InterfaceKinetics` (via #87), electrochemical reaction (rates) were carved out as they require additional thought (e.g. see #38 and #44; tagging @decaluwe).

This feature request is created as a reminder that a stop-gap solution needs to be in place for 2.6 as both legacy CTI/XML input as well as the associat

[2022-02-26 15:19] ischoegl opened #141 "Make use of 'mole' and 'molar' consistent"
**Problem description**

While `ThermoPhase.basis` has the option `"mass"` or `"molar"`, Cantera uses `"mass"` and `"mole"` in other contexts. Specifically, the `basis` argument to

* `ThermoPhase.equivalence_ratio()`/`set_equivalence_ratio()`,
* `ThermoPhase.mixture_fraction()`/`set_mixture_fraction()` and
* `ThermoPhase.stoich_air_fuel_ratio()`

all use `"mole"`.

It is likely easiest / least in

[2022-02-26 16:16] bryanwweber commented on #141
On the other hand, `molar` is grammatically correct, if I understand correctly ☺️

[2022-02-26 16:26] ischoegl commented on #141
Certainly true if used as an adjective (as in the title of the issue 😄), but I see this more as ‘unit mole’ vs ‘unit mass’ proposition. I honestly don’t have a strong preference. Imho, going to booleans may be an alternative, but the naming question remains.

[2022-03-01 16:14] ischoegl commented on #108
Closed via Cantera/cantera#1206

[2022-03-01 16:14] #108 closed, assigned to nobody

[2022-03-04 14:57] #136 closed, assigned to ischoegl

[2022-03-09 14:21] ischoegl opened #140 "Export C++ symbols in dynamic Windows libraries"
**Abstract**

At the moment, symbols in dynamic libraries are not exported in Windows, i.e.
[code]
does not list any symbols (whereas running `dumpbin /LINKERMEMBER cantera_shared.lib` for the static library lists an extensive list of symbols - at least for the C API?)

**Motivation**

Describe the need for the proposed change:

* What problem is it trying to solve? ... allow access to C++ methods

[2022-03-09 14:53] bryanwweber commented on #140
This seems like a fairly non-intrusive change. Are there any side effects of doing this, other than perhaps larger binaries? I don't see how SCons would affect this if the macro goes somewhere like `global.h`.

[2022-03-09 15:49] ischoegl commented on #140
Fairly non-intrusive, but tedious, as I believe the decorations need to be applied all over the place (also: I don't expect side effects). The macro should definitely go into `global.h`; the only reason I mentioned SCons is that I wouldn't be surprised if there were a couple of stumbling blocks hidden someplace. This always seems to be the case :joy:

I'd be happy to start some tests, but will wai

[2022-03-12 03:05] #8 closed

[2022-03-12 03:05] #87 closed

[2022-03-12 03:32] speth commented on #141
I agree that it would be nice to be consistent with this, but I don't really see "molar" being a better parallel to "mass" than "mole" in most of these cases. Also, there are certainly a lot more cases in Cantera where we use "mole" when this distinction needs to be made besides just the Python `ThermoPhase` class. The most common must be "mass fractions" and "mole fractions", but there's also `cp

[2022-03-12 11:41] bryanwweber commented on #141
I expressed a preference on the issue for "molar"  as the grammatically correct construction, as in "molar basis" .

[2022-03-12 12:34] ischoegl commented on #141
Among the two arguments, I believe `mole` being used consistently is imho more convincing. I don’t think that `enthalpy_molar` et al. is where this should be going.

[2022-03-12 13:50] bryanwweber commented on #141
I read the underscore as "per", so `enthalpy_mole` is "enthalpy per mole" and wouldn't need to be changed. If it was a prefix, then "molar"  would be correct and the underscore wouldn't be "per" any longer, `molar_enthalpy`.

Anyhow, this isn't something I feel very strongly about. Perhaps for the `basis` property we can retain `molar` as an option (that is, allow both `mole` and `molar`), but dem

[2022-03-12 19:35] ischoegl commented on #141
FWIW, the following 'overview' is somewhat interesting: https://github.com/Cantera/cantera/blob/fc6a018e00842560d64100de171d55fe9ef741e1/interfaces/cython/cantera/composite.py#L464-L508

So there isn't really a consistent way of naming beyond, especially with the `partial_molar_*` properties. Although not even all species-related properties follow this convention: `'mix_diff_coeffs_mole'` vs. `'pa

[2022-03-12 20:34] ischoegl commented on #141
I ended up moving this over to __enhancements__, as this may be slightly premature for Cantera 2.6.

One other reference worth making is that some of the inconsistencies pointed out above should probably be fixed while working out a consistent naming approach for Python API and MATLAB API in Cantera/cantera#1182 (as an aside: camelCase is not something I necessarily feel strongly about).

[2022-03-13 01:05] ischoegl opened #142 "Eliminate Remaining Reaction Specializations when using MultiRate Evaluators"
**Abstract**

After Cantera/cantera#1183 and Cantera/cantera#1181, most `Reaction` specializations for the 'new' `MultiRate`-based framework no longer require specializations. It would be good if the following specializations could be eliminated prior to the release of Cantera 2.6

- [x] `ThreeBodyReaction` ... see PR Cantera/cantera#1333
- [x] `FalloffReaction` ... see PR Cantera/cantera#1333
- [

[2022-03-13 22:18] ischoegl commented on #142
@speth … while I’m making good progress on Cantera/cantera#1216, it may be best to defer some of the other items mentioned above for after 2.6. From what I can tell, there is significant potential for further simplifications once the legacy framework is removed (mainly around rate constants). Ultimately, I believe it’s more important to get this release out.

[2022-03-18 13:58] #139 closed, assigned to ischoegl

[2022-03-19 02:18] marina8888 opened #143 "Add to documentation: multi_diff_coeffs"
**Abstract**

Suggestion to add to documentation the orientation of species for multi-component diffusion coefficients in the Transport class.

**Motivation**

* What problem is it trying to solve?
* Who is affected by the change?
* Why is this a good solution?

Multicomponent diffusion coefficients are useful in studying the contributions of diffusive flux to species. At present cantera prints a

[2022-03-21 00:37] decaluwe commented on #143
Hi @marina8888 Thanks for this suggestion - I just did some digging and agree that there is not much documentation (mainly just a suggestion to check out R. Kee's "Chemically Reacting Flow" text book).

One question: what type of documentation are you asking about here?
1. Documentation in the header files `include/cantera/transport/MultiTransport.h`
2. Documentation on the website (e.g., somewher

[2022-03-21 00:42] marina8888 commented on #143
[thermal_diff_example.csv](https://github.com/Cantera/enhancements/files/8312509/thermal_diff_example.csv)

[2022-03-21 00:47] marina8888 commented on #143
Hi @decaluwe, thank you for the response. I have added a file below on what is printed when using the multi_diff_coeffs function in the python interface.

Since the coefficient values are not interchangeable (i.e coefficient value of species j in k vs species k in j are not the same), I have found it difficult to understand whether it is the diffusion coefficient of species [row index] in species

[2022-03-21 00:51] marina8888 commented on #143
[multi_diff_example.csv](https://github.com/Cantera/enhancements/files/8312519/multi_diff_example.csv)

[2022-03-21 00:56] decaluwe commented on #143
I would generally think that your intuition above is correct: D_[row][column] is the coefficient of species [row index] in species [column index], but agree that some explanation would be helpful.

My question is: where would it be most helpful for this to be provided?

From your posts, maybe you mean this:

For a Cantera solution object `g`, you want the output of  `help(g.__class__.multi_diff_co

[2022-03-21 01:06] marina8888 commented on #143
I agree, yes, in the object g.class.multi_diff_coeffs that would be the best place.
Thank you very much for taking the time to look into this request. It was difficult for me to be confident in the order without it being explicitly mentioned in the documentation.

FYI for future reference - coefficient order - @gotama721

[2022-03-22 02:36] decaluwe commented on #143
@marina8888 can you clarify - is the information you want:
- `D_{i,j} = D_{row,column}`, or
-  `D_{i,j}` gives the contribution of concentration gradients in species `j` to the diffusive flux of species `i`.
- Or both?

[2022-03-24 01:51] #143 closed, assigned to nobody

[2022-03-24 04:18] marina8888 commented on #143
@decaluwe I just saw the change in the documentation. Apologies for the late reply and thank you for very much for checking the orientation and making the change.

[2022-03-25 15:47] shunn337 commented on #135
I just installed 2.6.0b1 and saw this warning message. I've historically sourced `cantera_setup` from the shell profile as a convenient way to set env variables on systems where I build cantera from source. If the setup script is deprecated, it would still be helpful to summarize what env variables are relevant to include all the cantera modules and libraries. For example, you could print best pra

[2022-03-25 17:06] bryanwweber commented on #135
Thanks @shunn337! I edited the first post with some advice. The short answer is that you shouldn't have to do much environment configuration anymore, unless you're doing something custom/more complicated, in which case, it's more challenging to give useful advice.

[2022-03-27 18:30] ischoegl opened #144 "Use BLAS/LAPACK by default if installed"
**Abstract**

While many *'system'*-installed packages are detected and used by default (e.g. `Eigen`, `fmt`, `sundials`, `yaml-cpp`), the same is not true for BLAS and LAPACK. Instead, it does require the `blas_lapack_libs` flag (as expected, there currently is no `system_blas_lapack` option).

While there are some issues related to incompatible versions packaged with MATLAB, it would make sense

[2022-03-28 15:34] ischoegl commented on #140
Fwiw, the definitions above are already included in `clib_defs.h` but used (mostly) for the CAPI only (exception: `funcWrapper.h`) ...

[2022-04-04 18:31] ischoegl commented on #135
This appears to be relevant to the tutorials on [Compiling C++ Programs](https://cantera.org/tutorials/cxx-guide/compiling.html) ... without having paths set, it becomes a little convoluted to have everything set up properly.

[2022-04-04 18:50] speth commented on #135
In what way? The only thing I see on that page that is potentially affected is the setting of `PKG_CONFIG_PATH`.

[2022-04-04 18:59] ischoegl commented on #135
I'm actually not exactly sure what way. I usually let `scons` take care of things (i.e. for examples), but failed to set up a simple `g++` example within my `conda`-based tool-chain. `pkg-config` certainly failed to find things. As I since have tried to set `PKG_CONFIG_PATH` manually and still failed, there may be other issues though ... an error about a missing `cantera.pc` is suspicious but woul

[2022-04-06 19:50] speth opened #145 "Consolidate works cited"
**Abstract**

It would be nice to have a consolidated list of references for citations to the literature that describes various models implemented in Cantera. This would encourage consistent use of citations within the documentation without bloating the documentation with duplicated reference information.

**Motivation**

Currently, this is done on a fairly ad-hoc basis, with citations appearing i

[2022-04-08 02:34] decaluwe opened #146 "Science section re-org"
**Abstract**
I'd like to document my thoughts for next steps in reorganizing the website's `Science` section.

1. Add some more content to the `Transport` landing page.  My sense is that we can cover what we need to on a single page, without going into separate `phase` and `species` pages like we do for thermo, and without adding any other structure (e.g. cards), but we'll see, once it is in place

[2022-04-09 16:17] speth commented on #146
I meant to comment on this in the previous PR, but one aspect of this that I would like to improve is that with this anticipated layout, it takes a lot of navigation to get from the homepage to the documentation for a specific phase model. That is, you have:

Cantera.org -> Science -> Thermodynamics -> (scroll down) Phases -> Specific Model

There are two options of shortening this by one level th

[2022-04-09 22:52] decaluwe commented on #146
Thanks, @speth - this is a great point.

I'll keep it in mind to see if there are placed to flatten the page structure a bit.  In some cases, I think I can use cards at the top as links to a specific section, but keep the info on the same page so that a user can also just scroll down, if they already know where to look.

(side note: not sure how this ended up in `enhancements`, rather than `canter

[2022-04-14 20:29] wigging opened #147 "Set mixture fraction for SolutionArray"
**Abstract**

Set the mixture fraction for a SolutionArray. This can be accomplished with the equivalence ratio so a similar approach could be used for the mixture fraction.

**Motivation**

The equivalence ratio can be set for a SolutionArray using something like the following:

[code]

However, the above example cannot be done with the mixture fraction.

**Possible Solutions**

A possible implem

[2022-04-14 20:37] decaluwe commented on #147
Two bits of follow up:
1. The mwe above does require a numpy import: `import numpy as np` in order to work.
2. The error message is as follows:

  File "<stdin>", line 1, in <module>
  File "/Users/decaluwe/opt/anaconda3/envs/cantera/lib/python3.6/site-packages/cantera/composite.py", line 598, in __getattr__
    self.__class__.__name__, name))
AttributeError: 'SolutionArray' object has no attribut

[2022-04-14 20:50] decaluwe commented on #147
Thanks, @wigging -- this seems like it should be pretty straightforward.  Working on an implementation, atm.

[2022-04-22 17:02] bryanwweber opened #148 "Support SUNDIALS 6.2 features"
**Abstract**

SUNDIALS 6.2 was [just released](https://github.com/LLNL/sundials/releases/tag/v6.2.0) and it has a few features that look interesting.

Specifically:

1. > Added functions to CVODE, CVODES, IDA, and IDAS to change the default step size
adaptivity parameters.

   would be useful to expose to users for setting
2. > Added support to CVODES for integrating IVPs with constraints using BD

[2022-04-22 17:43] speth commented on #148
Regarding (1), before worrying about adding a user interface for these, I think you'd want to see how much tweaking these settings affects the overall speed of integration, and if the optimal values vary for different problems.

Regarding (2), This is a feature that's been around in regular CVODE (non-sensitivity version) for a long time, and the [same general advice is provided](https://sundials.

[2022-04-22 18:08] bryanwweber commented on #148
That's a lovely docs page to read! Thanks for the link. I think it would make sense to add a link to that somewhere in the docs for the custom reactor class.

[2022-04-23 23:14] decaluwe commented on #147
Okay, @wigging this is now incorporated, via https://github.com/Cantera/cantera/pull/1242

[2022-04-23 23:14] #147 closed, assigned to nobody

[2022-04-25 00:20] ischoegl commented on #68
An equivalent section of the YAML documentation is also missing in Cantera/cantera (file `doc/sphinx/yaml/phases.rst`).

[2022-04-26 23:45] Naikless commented on #81
Just out of interest: In a package I am writing, I am currently using the approach suggested above where I access cantera‘s python interface via PyCall to obtain thermodynamic and kinetic data or calculate equilibriums. Any ODEs are solved using OrdinaryDiffEq.jl.

This works quite conveniently, even though it adds a little extra organizational effort in managing the package’s dependencies (ensure

[2022-04-30 14:20] ischoegl commented on #68
Cantera/cantera#1264 partially addresses this issue in terms of YAML input, but Peng-Robinson (like many other phases) lack documentation in the science section of the website (see #6).

[2022-05-01 16:44] ischoegl opened #149 "Remove legacy Kinetics infrastructure for Cantera 3.0"
**Abstract**

Cantera 2.6 introduces a major redesign of how reaction rates are handled internally to improve extensibility and enable new capabilities. After release of 2.6, the "legacy" kinetics infrastructure is slated for removal. At the same time, the CTI/XML input format will be removed.

With Cantera 2.6 being the last version that fully supports CTI/XML, this means that substantial amounts

[2022-05-03 16:41] ischoegl opened #150 "Version-specific cantera.org release cycle"
**Abstract**

The upcoming removal of CTI/XML will remove substantial amounts of legacy code, which affects both *Cantera/cantera* and *Cantera/cantera-website*. To date, the repositories follow separate philosophies:

[code]
and
[code]

This feature request aims for a more consistent approach that prevents bottle-necks and merge conflicts prior to releases while resolving Cantera/cantera-website#

[2022-05-03 17:07] ischoegl commented on #6
Fwiw, here is an alphabetic list taken from the most recent [YAML API docs](https://cantera.org/documentation/docs-2.6/sphinx/html/yaml/phases.html) (Cantera 2.6), which could serve as a starting point (there may be others):

- [ ] binary-solution-tabulated
- [ ] compound-lattice
- [ ] constant-density
- [ ] Debye-Huckel
- [ ] edge
- [ ] electron-cloud
- [ ] fixed-stoichiometry
- [ ] HMW-electroly

[2022-05-03 17:08] #68 closed

[2022-05-03 17:09] ischoegl commented on #68
Closing as this is already addressed by #6.

[2022-05-03 18:52] speth commented on #62
With user-specified YAML data fully accessible and modifiable in Python (https://github.com/Cantera/cantera/pull/984, https://github.com/Cantera/cantera/pull/1014, https://github.com/Cantera/cantera/pull/1031), I think we have provided a very flexible interface for this capability.

[2022-05-03 18:52] #62 closed

[2022-05-04 02:57] speth commented on #150
We used to have the website built entirely from content stored in the `Cantera/cantera` repository, which gave us the feature that's desired here of having a clear place to stage changes that are applicable only to the unstable version / next release. However, one of the major reasons for separating the website into its own repository (a project spearheaded by @bryanwweber) was the fact that this

[2022-05-04 10:37] ischoegl commented on #150
@speth ... thank you for the historical context - this is certainly something that I appreciate. Also, thank you for dissecting website updates between 2.5.1 and 2.6. At the same time, the points I brought up were based on my experiences and observations during this release cycle, which left me wondering whether the work flow couldn't be improved.

**Separate repositories:** I think that is genera

[2022-05-04 21:02] bryanwweber commented on #150
I'm going to reply to a few specific quotes first and in the next comment consider the actual proposal from the OP and how we might move forward.

As just a tiny bit more historical context, we avoid links to `testing.cantera.org` because it tended to represent experiments, especially with fixing dependencies, using new HTML templates/themes, etc. As such, the state of the `testing.cantera.org` wa

[2022-05-04 21:31] bryanwweber commented on #150
Ok, to address the actual proposal for changes here:

I think this kind of structure would work better once we actually have complete documentation for more of the features in the `Cantera/cantera`. I think we have pretty good docstrings, and the content in the C++ documentation is reasonable, but high-level content is largely missing.

As such, I anticipate that the majority of the updates that w

[2022-05-04 23:47] ischoegl commented on #150
@speth and @bryanwweber ... thank you both for your thoughts.

I think the discussion was fruitful, even if my original suggestion may not have support. I know that there have been long-standing goals to improve the documentation (#6, dating back to 2019, although duplication was pointed out in Cantera/cantera-website#20 and efforts to catalog and verify classes go back to at least Cantera/cantera

[2022-05-05 01:12] bryanwweber commented on #150
The bigger thing to me is being able to delete the plugin code ☺️

I agree, but I don't think this was a huge problem for this release. Are there examples you can think of, aside from Peng-Robinson?

Agreed, this would be nice

[2022-05-05 01:29] ischoegl commented on #150
On the `Kinetics` side, the infrastructure is thankfully well developed, so these updates mostly worked (although for some of my own updates it made sense to wait until the last possible moment). The `ThermoPhase` side is by far the largest problem area (as for Peng-Robinson, at this point the science documentation is so sparse that there isn't even a good spot to put it). As for other examples, `

[2022-05-05 12:19] ischoegl commented on #150
**Update:** I looked over the Sphinx documentation this morning, and [suitable directives already exist](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded) (which is not entirely surprising):

[code]
and
[code]
We are obviously already consistently using
[code]
Fwiw, the `seealso` directive may be useful as well.

I tested the `versionadded` feature

[2022-05-05 14:58] speth commented on #150
Doxygen also apparently has the [`@since`](https://www.doxygen.nl/manual/commands.html#cmdsince) directive for this purpose, though I haven't looked to see if it gets formatted in a useful way.

[2022-05-05 17:01] ischoegl commented on #150
@speth ... I really like the `@since` correspondence to `versionadded`. There's another directive (`@version`) that could be used in parallel to `versionchanged`.

Fwiw, I added some instances of `@since` to Cantera/cantera#1274. There aren't any surprises in the rendered output (other than finding a pre-existing glitch that I reported in Cantera/cantera#1275).

[2022-05-05 21:33] ischoegl commented on #150
@speth / @bryanwweber .... Ok. After running some tests, I believe the following modified workflow would be workable:

**New Features:** Use `versionadded` (Sphinx) / `@since` (doxygen) directives when features are first introduced; directives can be removed in the version after a feature becomes permanent.

**Changing Features:** Mark feature as `deprecated` before feature is changed (same as cur

[2022-05-06 10:55] mefuller opened #151 "Fedora Linux CI/CD with packit"
**Abstract**

Consider/evaulate use of packit (https://packit.dev/) including github app (https://packit.dev/docs/packit-service/) for automating building and testing in Fedora Linux

**Motivation**
Previously, I have been periodically rebuilding the Fedora packages and often finding small issues with varying architectures or sometimes caught off-guard by recent changes when rebuilding.
The entire

[2022-05-06 11:17] mefuller commented on #151
Explanatory article: https://packit.dev/posts/downstream-automation/

[2022-05-06 15:10] ischoegl opened #152 "Transition to C++14"
**Abstract**

Now that Cantera 2.6 is released (which uses `c++11`), I wanted to post an update for discussion. Per comments elsewhere:

Also:

There just was an issue report about RHEL 7 and Cantera 2.6 (Cantera/cantera#1277), where there appear to be some issues with compiling Cantera with the default stack even while still supporting `c++11`.

[2022-05-07 20:48] bryanwweber commented on #98
@ischoegl is this issue complete? I'm not sure what else should be done here.

[2022-05-07 21:22] speth commented on #152
I'm not opposed to moving to C++14 now that 2.6.0 is out, but I think this decision should be based on the existence of useful features in the language standard. I don't see a lot of features relevant to Cantera in the [list of new features in C++14](https://en.cppreference.com/w/cpp/14). On the other hand, [C++17](https://en.cppreference.com/w/cpp/17) has some new features that I can see being br

[2022-05-07 22:59] #152 closed, assigned to nobody

[2022-05-07 23:08] ischoegl commented on #98
I don’t think it’s completely resolved. I’d prefer if it were left open.

[2022-05-07 23:13] ischoegl commented on #152
From the feature perspective, I don’t see a major advantage of c++14 either.

[2022-05-07 23:59] bryanwweber commented on #98
Can you clarify what you see as being left to do here?

[2022-05-08 00:35] ischoegl commented on #98
Looked at this again and believe this is probably fine.

[2022-05-08 00:35] #98 closed, assigned to nobody

[2022-05-09 01:59] bryanwweber commented on #78
This seems largely outside the scope of Cantera as currently constituted. I don't foresee any progress on this, so I'm going to close it. Thanks for sharing the idea!

[2022-05-09 02:00] #78 closed

[2022-05-09 13:15] ischoegl commented on #94
Withdrawing - this looks too much like bike-shedding to me.

[2022-05-09 13:15] #94 closed, assigned to nobody

[2022-05-09 13:33] ischoegl commented on #141
Taking care of all inconsistencies would presumably break user code. Closing to avoid unnecessary churn.

[2022-05-09 13:33] #141 closed, assigned to nobody

[2022-05-09 13:38] ischoegl commented on #51
Closing - I am uncertain that there is support or need at this point.

[2022-05-09 13:38] #51 closed

[2022-05-09 13:39] ischoegl commented on #73
I agree that this may dredge up too many other deficiencies for `Mixture`s, which may need to be addressed in order to make this useful. (e.g. #64 has higher priority).

[2022-05-09 13:44] ischoegl commented on #150
Closing, as there is consensus that the originally proposed idea should not be pursued. I think that using additional directives (`versionadded`/`@since`) would still make sense, but it is an afterthought in this specific feature request.

[2022-05-09 13:44] #150 closed, assigned to nobody

[2022-05-09 14:03] ischoegl commented on #133
Based on Cantera/cantera#1219, there is a speed penalty for alternative approaches, so `ThirdBodyCalc.h` will remain as is.

[2022-05-09 14:03] #133 closed, assigned to ischoegl

[2022-05-16 18:37] AdityaSavara commented on #8
@speth  @ischoegl

I am  not sure if I am missing something. The pull request where this issue is mentioned (https://github.com/Cantera/cantera/pull/1181 ) has been merged into main. I've use pip install cantera --upgrade , on windows, and version 2.6  still seems to have the bug mentioned in this issues card.

I didn't quite understand the conversation completely, but I think that what @ischoegl

[2022-05-16 18:43] bryanwweber commented on #8
@AdityaSavara sometimes GitHub is a little aggressive about closing issues that get mentioned in pull requests. If this is still a problem, can you verify that the code you posted in the first comment still reproduces the error and feel free to reopen the issue. Thanks! 😃

[2022-05-16 19:05] ischoegl commented on #8
@AdityaSavara ... please make sure to check the behavior for YAML input - as CTI input is deprecated, there is no difference in behavior.

[2022-05-18 01:35] ischoegl commented on #37
Per Cantera/cantera#1287, the test removed in https://github.com/Cantera/cantera/pull/1287/commits/d0a343eca3df065d33821b961ee0cca39a7a1d1f should be reintroduced here.

[2022-05-18 03:52] speth commented on #8
Using Cantera 2.6.0, I can confirm that changing the coverage dependencies for a surface reaction, created either from CTI or YAML input, affects the reaction rates returned by an `Interface` object as long as the `modify_reaction` method is called afterwards.

[2022-05-18 23:52] AdityaSavara commented on #8
@ischoegl @speth @bryanwweber

Thank you for your responses.  After switching to both a YAML file input and also to the new  "from_yaml" syntax, I was able to get the modify_reaction feature to work correctly for my example.

[2022-05-28 19:56] #149 closed, assigned to ischoegl

[2022-05-30 14:40] #135 closed, assigned to nobody

[2022-06-06 20:49] bryanwweber commented on #121
Hi @elfring! Thanks for making this suggestion. What advantages does this change have? Is the code faster? I don't find it necessarily easier to read, and this would cause a lot of churn in our code...

[2022-06-06 21:08] ischoegl opened #153 "Split Cantera into core and toolbox libraries"
Converting #97 into a feature request.

### Discussed in https://github.com/Cantera/enhancements/discussions/97

<div type='discussions-op-text'>

<sup>Originally posted by **ischoegl** April 19, 2021</sup>
Cantera is quite large, and mixes *core* and *toolbox* objects within the same libraries. Some users may only be interested in linking to core objects (species, reactions and their YAML importe

[2022-06-06 21:10] ischoegl opened #154 "Reconsider composition state variables for reactors, flames, and other systems"
Creating feature request from #91. Going through a major release opens the opportunity for a breaking change.

### Discussed in https://github.com/Cantera/enhancements/discussions/91

<div type='discussions-op-text'>

<sup>Originally posted by **speth** February  9, 2021</sup>
**Motivation**

Cantera's governing equations for reactors and flames currently use mass fractions as the state variables

[2022-06-07 11:45] elfring commented on #121
I find that [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13) can indicate also motivation for another bit of collateral evolution. :thinking:

[2022-06-07 12:50] bryanwweber commented on #121
@elfring thanks for the link! What about the rationale applies here? Are there performance implications that can be demonstrated to justify the code churn?

[2022-06-07 13:10] ischoegl commented on #121
I think that `+=`, etc. completes manipulations in-place and avoids memory assignment/copying operations, and I have seen big differences for *large* arrays of data. On scalars, I am unsure whether it makes a big difference. I personally find code easy to read, but I am not sure that it is worth the churn.

**PS:** Code churn is moderate, running the perl script yields 6 replacements on current `m

[2022-06-07 15:38] ischoegl commented on #121
Closing, as changes appear to be trivial.

[2022-06-07 15:38] #121 closed, assigned to nobody

[2022-06-07 17:50] elfring commented on #121
:crystal_ball: Will application interests ever grow for [functionality which became available with Python 2.0](https://docs.python.org/3/whatsnew/2.0.html#augmented-assignment "What’s New in Python 2.0") (on 2000-10-16)?

[2022-06-07 17:52] bryanwweber commented on #121
@elfring Based on what @ischoegl said, the changes appear to be fairly minimal, please feel free to submit a pull request.

[2022-06-07 18:06] ischoegl commented on #121
@bryanwweber ... this account is likely a bot, as reponses are gibberish.

[2022-06-10 13:57] #114 closed, assigned to nobody

[2022-06-19 07:18] ischoegl commented on #132
Linking [user group discussion](https://groups.google.com/g/cantera-users/c/cSAbmbsUUzE) and Cantera/cantera#1193 - as an example, prior to Cantera 2.6, the following duplicate reactions worked (as the second version was not detected as a third-body reaction). Starting in Cantera 2.6, the reactions require a `duplicate` declaration to prevent the following error:
[code]

[2022-07-01 05:28] corykinney commented on #122
Unfortunately I won't be able to continue working on this, but I'll leave this open in case anyone wants to finish it from the derivations I had included in the initial post.

[2022-07-03 19:08] ischoegl commented on #125
PR Cantera/cantera#1330 ~proposes to remove~ (now merged) removes `NaN` sentinel values from `ReactionRate` code.

[2022-07-06 03:29] marina8888 commented on #71
Hi,

I was interested to come back to this as this is still a feature that would be helpful and I was not able to crack this last time.

As no species sensitivity functions are available for 1D flames, so the recommendation is usually to modify the existing python example (using the multiplier function) to use mole fraction of species instead of laminar flame velocity (for example, the discussion

[2022-07-06 03:30] marina8888 commented on #71
Please see below results for Cantera:
![image](https://user-images.githubusercontent.com/38610356/177462088-2f038f58-e8ce-4e8a-a897-c54c2aaada01.png)
![image](https://user-images.githubusercontent.com/38610356/177462098-33d0c164-4503-4d50-bc16-c72ec6618c54.png)

CHEMKIN results for the same condition:
<img width="252" alt="image" src="https://user-images.githubusercontent.com/38610356/177462171-49

[2022-07-16 05:26] g3bk47 opened #155 "Modify solution strategy for counterflow flames"
**Abstract**

A common application for counterflow flames is to find the extinction strain. For any type of 1D flame, the following solution strategy is applied:
* try to find a solution on a grid with different grid point numbers (https://github.com/Cantera/cantera/blob/main/interfaces/cython/cantera/_onedim.pyx#L1208)
* if no solution is found, re-run the simulation with the energy equation disa

[2022-07-17 16:54] burkenyo opened #156 "Interface for .NET languages"
**Abstract**

An interface will be created to provide access to Cantera through programming languages in the .NET ecosystem. The interface will be available as a Nuget package, allowing users to integrate Cantera directly into their project using familiar paradigms.

**Motivation**

With the turn towards open-source and cross-platform that begun with .NET Core, coupled with crucial investments in

[2022-07-17 16:55] burkenyo commented on #156
Hi, I’ve created this stub issue so that I have the number. I will flush it out soon.

[2022-07-20 02:06] anthony-walker commented on #47
Cantera/cantera#1010 has added the core functionality of preconditioners to Cantera. There is still further improvements possible.

This includes:

- Improving robustness
-  More rigorous testing for the preconditioner and mole reactors
- Including surface chemistry
- Extending to non-ideal gas reactors
- More practical usage examples
- Development of additional threshold guidelines for documentat

[2022-07-20 14:17] speth commented on #47
One other item I'd add to your list:
- Add the governing equations for the `MoleReactor` classes to the "Science" section of the website. Although, this might want to wait for @chinahg  to finish https://github.com/Cantera/cantera-website/pull/189 to avoid painful merge conflicts.

[2022-07-24 08:34] ischoegl commented on #148
Tagging Cantera/cantera#1341

[2022-07-26 17:43] rwest opened #157 "Advanced mixing rules for colliders"
**Abstract**

A placeholder issue before I forget. I couldn't find an existing enhancement issue for this. A talk at the Combustion Symposium,

J. Shao,
R. Choudhary, D.F. Davidson, R.K. Hanson

just showed a huge impact of changing mixing rules (3x difference in concluded reaction rate?) and pointed out that Mike Burke's improved rules are not available in CHEMKIN or Cantera.

**Motivation**
From

[2022-07-29 22:13] ischoegl opened #158 "Expose C++ Solution to clib"
**Abstract**

Since the initial introduction of the C++ `Solution` class, it has become central to the instantiation of `ThermoPhase`/`Kinetics`/`Transport` objects from YAML input. It is, however, still missing from the `clib` interface.

**Motivation**

Describe the need for the proposed change:

* What problem is it trying to solve? ... add a missing interface to `clib`
* Who is affected by the

[2022-07-30 16:39] speth commented on #158
I think this is a bit more complicated than described. Currently, the ownership semantics of `clib` are pretty simple -- `clib` owns all the objects that it has handles to. But working with the `Solution` class would require being able to provide `clib` handles to `ThermoPhase`, `Kinetics`, and `Transport` objects that are held as `shared_ptr`s in the `Solution` class.

I'd suggest deferring resol

[2022-07-30 17:40] ischoegl commented on #158
I agree that introducing `Solution` to `clib` will be a bit of a headache. I stumbled across this in Cantera/cantera#1345, where I had to skip changes for `clib`.

The reason here is that I am starting to implement a C++ version of `SolutionArray` (as proposed in #137), where similar roadblocks will arise. For this to work, both `oneD` and `zeroD` objects need to be aware of associated `Solution`

[2022-07-30 19:16] ischoegl commented on #158
One alternative here would be to switch `Cabinet.h` over to storing `shared_ptr<M>` rather than `M*`, which would allow for the construction of `Solution` on-the-fly. The issue here is then that raw pointers are used extensively in the C++ core. Replacing those by smart pointers is likely a worthwhile objective, but this will open its own rather complex can of worms.

[2022-07-30 19:18] speth commented on #158
I don't think there's any urgency of adding a C++ `SolutionArray` implementation to `clib` though, is there? I'd likewise suggest that such an addition can wait for a new, better `clib`. That said, some thinking about the structure and API of this C++ `SolutionArray` class could be useful for understanding what new-`clib` needs to be able to do.

Addendum: yes, I think that storing `shared_ptr`s w

[2022-07-30 19:38] ischoegl commented on #158
Agreed that adding a C++ `SolutionArray` to the current `clib` is not urgent, although it will be highly useful for any API that builds on the new `clib`, i.e. it will become useable as a central storage object. Fwiw, there’s a branch with some initial code here [ischoegl:add-onedim-hdf-export](https://github.com/ischoegl/cantera/tree/add-onedim-hdf-export), but I do need some infrastructure first

[2022-08-04 13:40] ischoegl commented on #52
Closed via Cantera/cantera#1286

[2022-08-04 13:40] #52 closed

[2022-08-11 17:54] ischoegl commented on #116
One potential micro-step here would be to create an "Advanced: Fortran tutorial" on [Cantera/cantera-website](https://github.com/Cantera/cantera-website) added [here](https://cantera.org/tutorials/index.html) that uses the existing demo programs in `samples/f77` and `samples/f90`. Now that `libcantera-devel` appears to be working as a stand-alone `conda` package, the initial hurdle to get going sh

[2022-08-12 08:06] mefuller commented on #116
I'll take a look at it - shouldn't be too hard and it will likely reuse a lot of the C++ tutorial
Certainly the FORTRAN 77 and Fortran 90 demo programs both compile (using make and scons) and just work right out of the box for me (as expected, but still very gratifying)

Anyone know a "good" way to reuse content so that it's linked and not just copy-paste? This is thinking about both the structure

[2022-08-12 11:36] ischoegl commented on #116
Thanks, @mefuller!

I think that including code snippets the way the C++ tutorial does it is ok for the time being. If we also include the same files in `Cantera/cantera`’s `samples` folder, we can start linking to them whenever Cantera 3.0 is released.

[2022-08-25 02:26] #134 closed, assigned to nobody

[2022-08-28 12:51] ischoegl commented on #156
One interesting factoid I just found (while trying to debug CMake for Cantera's standard C++ samples, where it generates `.sln` and `.vcxproj` files, among others) is that C# projects are supported by CMake as well (see [SO discussion](https://stackoverflow.com/questions/2074144/generate-c-sharp-project-using-cmake)). *(PS: since support may be limited to Windows, it may not be that interesting af

[2022-09-25 01:36] #144 closed, assigned to nobody

[2022-09-25 13:44] ischoegl commented on #125
Reposting here as it has come up elsewhere: [someones-been-messing-with-my-subnormals](https://moyix.blogspot.com/2022/09/someones-been-messing-with-my-subnormals.html) (discussion about pitfalls of `—fastmath`; it is about Python but the underlying issues appears relevant).

[2022-09-26 17:43] corykinney commented on #132
@ischoegl Would it be possible to have `ck2yaml` automatically flag these as duplicates in the converted file (even though they are not declared that way in the CHEMKIN file) since Cantera is rightfully treating them as duplicates, or would automatically doing so would be undesirable? Additionally it could set a collision efficiency of zero on the generic form of the three body reaction, and raise

[2022-09-26 22:42] ischoegl commented on #132
@cory-kinney … the way things are implemented, `ck2yaml` is strictly a conversion tool. The duplicate checks are run after the file is converted. For the time being, my preference would be to issue warnings rather than errors (or implement some logic to be permissive about undeclared duplicates).

[2022-10-11 07:27] michaelpburke commented on #157
I would advocate implementing the reduced-pressure mixture rule LMR,R
(described in the attached implementation guide) -- it provides reasonable
accuracy without introducing the added complications of NMR,R.  You can
find a python implementation of it here:
https://github.com/Simple-ape/MixtureRules

On Tue, Jul 26, 2022 at 1:43 PM Richard West ***@***.***>
wrote:

[2022-10-11 11:19] bryanwweber commented on #157
Hi @michaelpburke! Thanks for the pointer. What's the license of that code? The default without specifying one, at least in the US, is "All rights reserved", meaning we can't include it or use it in Cantera.

The easiest license for us to incorporate is BSD-style, as Cantera is under a similar license. The MIT license is similar and could also work.

[2022-10-11 16:44] michaelpburke commented on #157
I would like anyone to be able to use it freely.  Would prefer if they cite
the accompanying paper(s) where they are presented.  Suggestions?

On Tue, Oct 11, 2022 at 7:19 AM Bryan Weber ***@***.***>
wrote:

[2022-10-11 18:15] ischoegl commented on #157
Hi @michaelpburke ... likewise thanks for the pointer. Will your group submit a PR on this work?

[2022-10-11 19:13] bryanwweber commented on #157
@michaelpburke I think the BSD 3-clause license is the most common one, in that case. The text is here: https://opensource.org/licenses/BSD-3-Clause Copy that into a file called `LICENSE` in the root of the repository and add your name(s) and the year 😄

The first two clauses of the license state:

meaning anyone using the code in their projects must give you credit via the copyright notice.

I'm

[2022-10-20 14:46] michaelpburke commented on #157
I uploaded the license file (I went with the BSD-3 -- thanks for the
suggestion!)

Ingmar, we weren't planning on submitting a PR to Cantera for this.  Should
we?

On Tue, Oct 11, 2022 at 3:14 PM Bryan Weber ***@***.***>
wrote:

[2022-10-21 21:08] ischoegl commented on #157
@michaelpburke ... it's up to you. Personally, I found that contributing to the main project will ensure that extensions will be supported for the foreseeable future (things don't break as they are continually tested). At the same time, your repo mainly demonstrates an interesting capability, while not being linked to Cantera itself. If you feel that it's important to have the capability integrate